name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"

jobs:
  flake-check:
    strategy:
      fail-fast: false
      matrix:
        include:
          - system: x86_64-linux
            runner: ubuntu-latest
          - system: aarch64-darwin
            runner: macos-15

    runs-on: ${{ matrix.runner }}
    name: Build (${{ matrix.system }})

    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@v21

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Setup Cachix
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: cachix/cachix-action@v16
        with:
          name: yk4to
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community

      - name: Run flake check
        run: nix flake check .
